.nav--wrapper {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px 40px;
  font-size: 50px;
  cursor: pointer;
  user-select: none; }

.nav__arrow {
  margin: 0 15px;
  color: white; }
  .nav__arrow:hover {
    color: #b8b8b8; }
